.portfolio-image-slider {
    position: relative;
    width: 100%;
    height: 100%;
}

.portfolio-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.portfolio-slide.active {
    opacity: 1;
}

.portfolio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--shadow-color);
    height: 450px; /* Add this line */
}